[submodule "SE22"]
	path = SE22
	url = https://github.com/SachinSahu431/SE22.git

[submodule "submodule"]
	path = submodule
	url = ./submodule
[submodule "CS20B034"]
	path = CS20B034
	url = https://github.com/SachinSahu431/SE22.git


[submodule "CS20B040-GitTut"]
	path = CS20B040-GitTut
	url = https://github.com/S1ddh4rthaG/CS20B040-GitTut.git

[submodule "GitTutorial"]
	path = GitTutorial
	url = https://github.com/PreethiVarshaM/GitTutorial.git


[submodule "Git_Tut"]
	path = Git_Tut
	url = https://github.com/GNamithaReddy/Git_Tut

[submodule "SE-Tutorial"]
	path = SE-Tutorial
	url = https://github.com/LellaHemasriSai/SE-Tutorial

[submodule "SEtut1"]
	path = SEtut1
	url = https://github.com/Ganesh-P03/SEtut1.git

[submodule "se_tut1"]
	path = se_tut1
	url = https://github.com/SaranyaKancharla/se_tut1.git

[submodule "CS20B051_SEGitTut"]
	path = CS20B051_SEGitTut
	url = https://github.com/Bharadwaj1720/CS20B051_SEGitTut

[submodule "CS20B013"]
	path = CS20B013
	url = https://github.com/prasannakumar-23/CS20B013.git

[submodule "Git_Tutorial"]
	path = Git_Tutorial
	url = https://github.com/poojasree06/Git_Tutorial.git

[submodule "SE_Repo1"]
	path = SE_Repo1
	url = https://github.com/Akshara-333/SE_Repo1.git

[submodule "new-rep"]
	path = new-rep
	url = https://github.com/niheeth03/new-rep.git

[submodule "CS20B044_GitTut"]
	path = CS20B044_GitTut
	url = https://github.com/Chakradhar4447/CS20B044_GitTut.git


[submodule "CS20B014_SE"]
	path = CS20B014_SE
	url = https://github.com/hiranmai19/CS20B014_SE.git
[submodule "CS20B010"]
	path = CS20B010
	url = https://github.com/GroshanCS10/CS20B010
